scrollToTop&lt;style amp-custom=&#39;amp-custom&#39;&gt;
@font-face{font-family:Roboto;font-style:normal;font-weight:400;src:local('Roboto'),local('Roboto-Regular'),url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'),url(https://fonts.gstatic.com/s/roboto/v16/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff'),url(https://fonts.gstatic.com/s/roboto/v16/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype')}
@font-face{font-family:Roboto;font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'),url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype')}
@font-face{font-family:Roboto;font-style:normal;font-weight:700;src:local('Roboto Bold'),local('Roboto-Bold'),url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'),url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOCZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype')}
@font-face{font-family:Roboto;font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(https://fonts.gstatic.com/s/roboto/v16/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'),url(https://fonts.gstatic.com/s/roboto/v16/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff'),url(https://fonts.gstatic.com/s/roboto/v16/W4wDsBUluyw0tK3tykhXEXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype')}
@font-face{font-family:Roboto;font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(https://fonts.gstatic.com/s/roboto/v16/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'),url(https://fonts.gstatic.com/s/roboto/v16/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format('woff'),url(https://fonts.gstatic.com/s/roboto/v16/OLffGBTaF0XFOW1gnuHF0SwlidHJgAgmTjOEEzwu1L8.ttf) format('truetype')}
@font-face{font-family:Roboto;font-style:italic;font-weight:700;src:local('Roboto Bold Italic'),local('Roboto-BoldItalic'),url(https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'),url(https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format('woff'),url(https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcCywlidHJgAgmTjOEEzwu1L8.ttf) format('truetype')}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:300;src:local('Roboto Slab Light'),local('RobotoSlab-Light'),url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u9mxLCGwR0.woff2) format('woff2'),url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u9mxLCGwRs.woff) format('woff'),url(https://cdn.staticaly.com/gh/KompiAjaib/font/master/RobotoSlab-Light.ttf) format('truetype')}
#main-wrapper,#sidebar-right,#sidebar-wrapper,.deleted-comment{word-wrap:break-word}
#header .description,#header h1,#header p a,body,span.homeblog{font-family:Roboto,sans-serif}
#navbar-iframe{height:0;visibility:hidden;display:none}
body{background:#f1f1f1;margin:0;}
a{text-decoration:none;transition:all 400ms ease-in-out;color:#11589D}
:active,:focus{outline:0}
a img{border-width:0}
*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
i.klik-url{-webkit-user-select:all;-moz-user-select:all;-ms-user-select:all;user-select:all}
::selection{background:#11589D;color:#fff}
#header-wrapper{width:100%;margin:0 auto;padding:10px 0;text-align:center;position:relative}
#header{max-width:100%;width:234px;margin:0 auto;padding:0;}
#header-inner{margin:0;padding:0;display:block}
#header h1,#header p,#header p a,#header h1 a{font-family:"Roboto Slab";font-weight:300;padding:0;margin:0;letter-spacing:-1px;word-spacing: -5px;line-height:1}
#header h1 span,#header p span,#header p a span,#header h1 a span,#header .description{position:fixed;top:-3000px;left:-3000px;opacity:0}
#header p a:hover{color:#f07468;text-decoration:none}
.head-wrapper{margin:0 -10px;padding:0 10px;position:relative;background:#7975ff;background:-moz-linear-gradient(left,#7975ff 0,#55d4db 44%,#45f7d3 100%);background:-webkit-linear-gradient(left,#7975ff 0,#55d4db 44%,#45f7d3 100%);background:linear-gradient(to right,#7975ff 0,#55d4db 44%,#45f7d3 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7975ff', endColorstr='#45f7d3', GradientType=1 )}
.head-wrapper:after{content:"";position:absolute;bottom:-1px;left:0;right:0;height:100%;background:-moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%);background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 );z-index:1}
.head-wrapper2{position:relative;z-index:2}
.content-wrapper{width:100%;max-width:765px;margin:0 auto;padding:0 10px;background:#fff;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.14);box-shadow:0 1px 4px 0 rgba(0,0,0,.14);position:relative}
.outer-wrapper{margin:0;padding:0;position:relative}
#main-wrapper{width:calc(100% - 170px);float:left;margin:0 auto;padding:0;}
.post{margin:0;padding:0}
.post h1.post-title{font-family:"Roboto Slab";font-size:40px;font-weight:300;line-height:1.1;margin:8px 0 10px;}
.post h1.post-title a{color:#11589D;}
.post-body {font-size:16px;font-weight:400;color:#555;line-height:1.5;counter-reset:blockquote;}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{font-family:"Roboto Slab";font-weight:300;line-height:1.2;}
.post-body h1{font-size:38px;color:#333;margin:10px 0}
.post-body h2{font-size:32px;color:#333;margin:10px 0}
.post-body h3{font-size:28px;color:#333;margin:10px 0}
.post-body h4,.post-body h5,.post-body h6{font-size:22px;color:#333;margin:10px 0}
.post-body a{font-weight:500;color:#11589D}
.post-body a:hover{color:#000}
.post-body i{font-style:italic}
.post-body .separator a{margin:0}
.thumb-post{position:relative;margin:0 -10px 10px}
.post-body amp-iframe[src*='youtube.com'],.post-body amp-iframe[src*='video.flexmmp.com'],.post-body amp-iframe[src*='fave.api.cnn.io'],.post-body amp-iframe[src*='yahoo.com'],.post-body amp-youtube,.post-body amp-dailymotion,.post-body amp-facebook{margin:0 0 0 -10px}
.post-body amp-youtube:nth-of-type(1),.post-body amp-youtube#video,.post-body amp-iframe#video,.post-body amp-video#video{position:absolute;top:0;left:-10px;right:-10px;margin:0;z-index:998}
.post-body amp-youtube#video2,.post-body amp-youtube#video3,.post-body amp-youtube#video4,.post-body amp-youtube#video5,.post-body amp-youtube#video6,.post-body amp-youtube#video7,.post-body amp-youtube#video8,.post-body amp-youtube#video9,.post-body amp-youtube#video10{position:relative;top:unset;left:unset;right:unset;margin:0;z-index:999}
.dailynodisplay{display:none}
.post-body amp-img.emojika{vertical-align:-12%}
.post-body blockquote,.post-body blockquote.kata-kata{font-size:18px;font-family:Georgia;color:#000;border-left:3px solid #11589D;padding:10px;margin:0 0 0 -10px;background:rgba(17,88,157,.1);line-height:1.3}
.post-body blockquote.kata-kata{counter-increment:blockquote;padding-left:40px;position:relative;}
.post-body blockquote.kata-kata:before{content:counter(blockquote)'.';position:absolute;left:0;top:0;color:#000;font-size:18px;z-index:2;width:40px;height:40px;line-height:40px;text-align:center;}
.post-body blockquote cite{color:#11589D;font-size:14px;font-style:italic;display:block;margin-top:5px;}
.post-body blockquote cite:before{content:"\2014 \2009";color:#000;}
.post-body blockquote+amp-audio{margin-top:10px}
.post-body pre,.post-body pre code{color:#11589D}
.post-body pre{border-left:5px solid #11589D;background:rgba(17,88,157,.1);padding:8px 10px;overflow:auto;max-width:calc(100% + 10px);text-align:left;margin:0 0 0 -10px;-webkit-user-select:all;-moz-user-select:all;-ms-user-select:all;user-select:all}
.post-body code,.post-body pre,.post-body pre code{font-family:Consolas,Monaco,'Andale Mono',monospace;white-space:initial;word-spacing:normal;word-break:normal;font-size:16px;line-height:1.3em}
.post-body code{color:#11589D}
.post-body .table-responsive{min-height:.01%;overflow-x:auto}
.post-body .table{width:100%;border-collapse:collapse;border-spacing:0}
.post-body .table td,.post-body .table th{background-color:#F3F5EF;border:1px solid #bbb;color:#333;font-size:95%;padding:5px;vertical-align:top}
.post-body .table tr:nth-child(even) td{background-color:#F0F0E5}
.post-body .table th{background-color:#EAE2CF;color:#333;font-size:110%}
.post-body .table tr.even:hover td,.post-body .table tr:hover td{color:#222;background-color:#FFFBEF}
.tg-bf{font-weight:700}
.tg-it{font-style:italic}
.tg-left{text-align:left}
.tg-right{text-align:right}
.tg-center{text-align:center}

/* AMP Sidebar */
.btn-sidebaramp{display:inline-block;background-image:url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 25 25' width='25' height='25' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='fill:%2311589D' d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");background-repeat:no-repeat;background-size:35px 35px;background-position:center center;background-color:transparent;width:48px;height:48px;border:none;position:absolute;top:0;right:0;cursor:pointer}
amp-sidebar{width:300px;padding:0;background:#11589D}
.amp-close-image{top:15px;left:16px;cursor:pointer;}
amp-sidebar ul{margin-top:30px;padding:0;list-style:none;}
amp-sidebar li{margin:0;list-style:none;padding:10px 20px}
amp-sidebar li:first-child{padding-top:0;}
amp-sidebar li a{color:#efefef;font-weight:500;font-size:16px;display:block}
amp-sidebar li a:hover,amp-sidebar li a:visited{color:#fff}
amp-sidebar button{margin-left:20px}
#side-bar h6 {border:none;background-color:#11589D;font-size:16px;font-weight:500;color:#efefef;padding:0;margin:0 0 10px 20px}
amp-sidebar ul li.drop ul{margin-top:10px}
amp-sidebar ul li.drop ul li,amp-sidebar ul li.drop ul li:first-child{padding:10px 20px 0 40px}
amp-sidebar li.drop{margin:0;list-style:none;padding:0}
amp-sidebar li.drop section{margin:0;list-style:none;padding:10px 0 0}
amp-sidebar li.drop li{border:0}
amp-sidebar li.drop li:last-child{padding:10px 20px 10px 40px;margin-bottom:-2px}
#side-bar h6 svg{width:20px;height:20px;vertical-align:middle;float:right;margin-right:20px}
#side-bar h6 svg path{fill:#efefef}
section:not([expanded]) .show-less,section[expanded] .show-more{display:none}
.logo_sidebar{width:180px;height:auto;margin:40px auto 0}
.follow_sidebar{line-height:normal;letter-spacing:normal;font-family:Roboto,sans-serif;text-transform:uppercase;font-weight:700;color:#fff;font-size:.94rem;padding-top:1.5rem;display:block;text-align: center;}
.ampstart-social-follow{margin:.5rem 0 1rem;-webkit-box-pack:initial;-ms-flex-pack:initial;justify-content:initial;display:block;text-align: center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;list-style:none;padding-left:0}
.ampstart-social-follow li{display:inline-block;margin-right:0;padding:0}
.p1{padding:.5rem}
.inline-block{display:inline-block}
svg:not(:root){overflow:hidden}
.ampstart-icon,.ampstart-sidebar .ampstart-icon{fill:#fff}

/* homepage */
.home_page .post{margin:0 0 10px;padding:0;position:relative}
.home_page .post .posts-thumb{width:160px;height:160px;float:left;margin-right:10px;transition:all .3s ease-in-out}
.home_page .post .posts-thumb:hover{opacity:.3}
.home_page .post .posts-thumb amp-img{width:100%;height:100%}
.home_page .post h2.post-title{font-family:"Roboto Slab";font-size:22px;font-weight:300;margin:0;line-height:1.1}
.home_page .post h2.post-title a{color:#11589D;}
.home_page .post h2.post-title a:hover{color:#000;}
.home_page .post .post-body .snippets{color:#666;font-size:16px;margin:-5px 0 0;line-height:1.2}

/* Sidebar */
aside{width:160px;float:right;padding:0;margin:0 auto;position:-webkit-sticky;position:sticky;top:10px}
#sidebar-wrapper{width:160px;float:right;overflow:hidden;padding:0;margin:0 0 0 10px}
.sidebar h2{font-family:Roboto,sans-serif;font-size:18px;font-weight:700;text-transform:uppercase;color:#11589D;margin:0 0 10px;padding:0 0 6px;line-height:1;border-bottom:3px solid #dedede}
.sidebar h2 span{position:relative;padding:0 0 6px;line-height:1;font-family:Roboto,sans-serif;font-size:18px;font-weight:700;margin:0}
.sidebar h2 span:after{content:"";background:#11589D;height:3px;width:100%;position:absolute;bottom:-2px;left:0}
.footer,.sidebar{color:#666;line-height:1.3em;border-top:0;font-size:16px;font-weight:400;font-family:Roboto,Georgia,sans-serif}
.sidebar .widget{margin:0 auto 20px;padding:0;}
.sidebar .widget-content{margin:0 auto;padding:0}
.sidebar a:link,.sidebar a:visited{font-size:16px;font-weight:500;font-family:Roboto,sans-serif;text-decoration:none;color:#3b5998}
.footer a:hover,.sidebar a:hover{color:#23355b}

/* Menu Page */
.PageList ul{margin:0 0 10px;padding:0;list-style:none;text-align:center;font-size:0;}
.PageList ul li{display:inline-block;margin:0;padding:5px 8px;}
.PageList ul li a{font-size:14px;font-weight:400;color:#333;}
.PageList ul li a:hover{color:#11589D}
.PageList ul li.selected{background:#11589D;border-radius:3px}
.PageList ul li.selected a{color:#fff;}

/* Search Box */
.search_box{margin:0 0 10px;}
.BlogSearch h2.title{display:none}
.BlogSearch .gsc-search-box{width:100%}
.BlogSearch input.gsc-input{width:calc(100% - 10px);padding-right:4px\9;padding-left:4px\9;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;height:34px;padding:6px 12px;font-size:95%;line-height:1.428571429;color:#555;vertical-align:middle;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.BlogSearch input.gsc-input:focus{border-color:#11589D;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(17,88,157,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(17,88,157,.6)}
.BlogSearch input.gsc-input:-moz-placeholder{color:#999}
.BlogSearch input.gsc-input::-moz-placeholder{color:#999;opacity:1}
.BlogSearch input.gsc-input:-ms-input-placeholder{color:#999}
.BlogSearch input.gsc-input::-webkit-input-placeholder{color:#999}
.BlogSearch td.gsc-search-button{width:60px;}
.BlogSearch input.gsc-search-button{background-color:#11589D;border:0;-webkit-border-radius:3px;-moz-border-radius:3px;width:100%;height:34px;padding:6px 0;text-align:center;font:700 95% Roboto;line-height:1.428571429;color:#fff;vertical-align:middle;background-image:none;border-radius:4px;cursor:pointer;-webkit-appearance: none;-moz-appearance: none;appearance: none;}

/* Breadcrumb */
.breadcrumbs{background:#fff;line-height:1.2em;width:auto;overflow:hidden;margin:0;padding:10px 0;border-top:1px solid #dedede;border-bottom:0 solid #dedede;font-size:80%;color:#888;font-weight:400;text-overflow:ellipsis;-webkit-text-overflow:ellipsis;white-space:nowrap}
.breadcrumbs a{display:inline-block;text-decoration:none;transition:all .3s ease-in-out;color:#666;font-weight:400}
.breadcrumbs a:hover{color:#11589D}
.breadcrumbs,.credit,.footer h2{font-family:Roboto,sans-serif}
.breadcrumbs,.breadcrumbs a,.credit{font-weight:400}
.breadcrumbs svg{width:16px;height:16px;vertical-align:-4px}
.breadcrumbs svg path{fill:#666}

/* Blog Pager */
.home_page #blog-pager,.home_page .blog-pager{clear:both;text-align:center;margin:20px 0;font-size:18px;font-weight:500;font-family:Roboto,sans-serif}
.blog-pager-newer-link{float:left;}
.blog-pager-older-link{float:right;}
.blog-pager-newer-link,.blog-pager-older-link,.home-link{background:#11589D;color:#fff;font-size:16px;line-height:1.3em;font-weight:500;padding:5px 10px;border-radius:3px;display:inline-block}

/* Posts Navigator */
.halaman{line-height:1.2em;margin:20px 0;padding:10px;height:auto;background:#f1f1f1;-webkit-box-shadow:inset 0px 1px 4px 0px rgba(0,0,0,0.14);-moz-box-shadow:inset 0px 1px 4px 0px rgba(0,0,0,0.14);box-shadow:inset 0px 1px 4px 0px rgba(0,0,0,0.14);border-radius:3px}
.halaman-kanan,.halaman-kiri{color:#666;background:0 0;width:50%;position:relative;-moz-box-sizing:border-box;margin:0}
.halaman-kiri{height:auto;float:left;padding:0 10px 0 20px;text-align:left;box-sizing:border-box}
.disqus-comments,.halaman-kanan,.halaman-kiri{-webkit-box-sizing:border-box}
.halaman-kanan{height:auto;float:right;padding:0 20px 0 10px;text-align:right;box-sizing:border-box}
.halaman-kanan a:hover,.halaman-kanan:hover .pager-title-left,.halaman-kiri a:hover,.halaman-kiri:hover .pager-title-left{color:#11589D}
.current-pageleft,.current-pageright,.halaman-kanan a,.halaman-kiri a{font-size:16px;font-family:Roboto,Arial,sans-serif;font-weight:500;background:0 0;text-decoration:none;line-height:1;padding:0}
.halaman-kanan a,.halaman-kiri a{color:#666;font-size:16px;font-weight:500;line-height:1}
.isihalaman-kanan,.isihalaman-kiri{margin:0;padding-top:2px}
svg.panahkanan,svg.panahkiri{position:absolute;top:50%;margin-top:-12.5px;width:25px;height:25px}
svg.panahkanan path,svg.panahkiri path{fill:#666}
.panahkiri{left:-10px}
.panahkanan{right:-10px}

/* Related Posts */
.related-post h4{margin:20px 10px 0 0;font-size:24px;font-weight:500;padding:0;color:#333}
.related-post{width:100%;margin:0;padding:0;font-size:16px;text-align:left;}
.related-wrapper{width:calc(100% - 170px);float:left;height:auto;overflow:hidden;margin-right:10px}
.related-wrapper amp-iframe{margin:0}
.related-right-wrapper{width:160px;float:left;height:auto;}

/* Social Share */
.share-box{position:relative;margin-top:20px}
.share-box.atas{margin-top:-6px;margin-bottom:10px;height:52px;overflow:hidden;}
.share-box.atas amp-addthis iframe{margin-top:0;margin-left:-8px;}
.displayinlineblock{display:inline-block;}.floatleft{float:left;}.borderradius3{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

.clear{clear:both}

/* Credit Footer */
.credit{line-height:1.5em}
.credit-wrapper{background:#11589D;margin:0px -10px 0px -10px;padding:10px;font-size:90%;color:#efefef;}
.credit-wrapper a:link,.credit-wrapper a:visited{color:#efefef;text-decoration:none}
.credit-wrapper a:hover{color:#fff;text-decoration:none}
.credit-left{float:left}
.credit-right{float:right}

.updated{border-bottom:0}
abbr[title]{text-decoration:none}
.post .jump-link,.quickedit{display:none}

/* Populer Posts */
.PopularPosts .widget-content ul{width:100%;margin:10px 0;padding:0;list-style-type:none}
.PopularPosts .widget-content ul li{background:#FFF;padding:0;margin-bottom:10px;overflow:hidden;width:100%;height:auto;position:relative}
.PopularPosts .item-thumbnail,.PopularPosts .item-content amp-img{width:160px;height:160px;margin:0;}
.PopularPosts .item-title a{padding:0 10px 10px;transition:all .3s ease-in-out;line-height: 1;position:absolute;bottom:0;left:0;right:0;z-index:2;color:#fff;font-size:16px;font-weight:500;} 
.PopularPosts .item-snippet{display:none}
.PopularPosts .widget-content .item-thumbnail a:after{content:"";width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,.3);z-index:1;transition:all .3s ease-in-out}
.PopularPosts .widget-content ul li:hover .item-thumbnail a:after{background:rgba(255,255,255,.8);}
.PopularPosts .widget-content .item-content:hover .item-title a{color:#333;} 
.PopularPosts .widget-content .item-content:hover .item-title a:hover{color:#11589D;} 
.PopularPosts .widget-content ul:after{content:"";display:block;clear:both}

/* Subscribe Box */
.follow-by-email-inner table{width:100%;}
.follow-by-email-inner td{display:block;margin:0 -3px}
.follow-by-email-inner .follow-by-email-address{width:100%;font-family:Roboto,sans-serif;font-weight:400;height:auto;margin:0 auto 5px;padding:10px;color:#333;position:relative;z-index:1;background:#fff;border:1px solid #ccc;border-radius: 4px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.follow-by-email-inner .follow-by-email-address:focus,.follow-by-email-inner .follow-by-email-submit:focus{outline:0}
.follow-by-email-inner .follow-by-email-submit{display:block;width:100%;height:30px;font-family:Roboto,sans-serif;font-weight:500;font-size:16px;text-transform: uppercase;float:left;color:#FFF;padding:0 20px;cursor:pointer;background-color:#11589D;border:none;border-radius:2px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}

/* Button */
@font-face{font-family:"Product Sans";src:url("https://cdn.staticaly.com/gh/KompiAjaib/font/master/product-sans-regular.ttf") format("ttf");font-weight:normal;font-style:normal;}
a.btn-download,a.btn-play,a.btn-google,a.btn-apple,a.btn-play:hover,a.btn-download:hover,a.btn-google:hover,a.btn-apple:hover{color:#fff}
.btn{display:inline-block;padding:10px 16px;margin:5px;font-size:18px;line-height:1.3333333;border-radius:6px;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;font-weight:500;text-decoration:none}
.btn:active:focus,.btn:focus{outline:0}
.btn:focus,.btn:hover{color:#333;text-decoration:none;outline:0}
.btn:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn-play{color:#fff;background-color:#D32F2F;border-color:#C62828;padding:10px 16px 10px 40px;position:relative;font-family: 'Product Sans', Arial, sans-serif;font-weight:600}
.btn-play:focus{color:#fff;background-color:#C62828;border-color:#B71C1C}
.btn-play:active,.btn-play:hover{color:#fff;background-color:#C62828;border-color:#B71C1C}
.btn-play:before{content:"";color:#fff;background-image:url(https://1.bp.blogspot.com/-DpJGZ47Olck/WSkXyTDP1kI/AAAAAAAArQQ/UwIxH4hYRIkbgZkN0_mUrkK12HveGFsXACLcB/s1600/play.png);background-size:cover;background-repeat:no-repeat;width:30px;height:40px;position:absolute;left:0;top:50%;margin-top:-20px}
.btn-download{color:#fff;background-color:#337ab7;border-color:#2e6da4;font-family: 'Product Sans', Arial, sans-serif;font-weight:600}
.btn-download:focus{color:#fff;background-color:#286090;border-color:#122b40}
.btn-download:active,.btn-download:hover{color:#fff;background-color:#286090;border-color:#204d74}
.btn-google,.btn-apple{color:#fff;background-color:#111;border-color:#000;position:relative;font-family: 'Product Sans', Arial, sans-serif;font-weight:600}
.btn-google{padding:15px 16px 5px 40px;}
.btn-apple{padding:15px 22px 5px 50px;}
.btn-google:focus,.btn-apple:focus{color:#fff;background-color:#555;border-color:#000}
.btn-google:active,.btn-google:hover,.btn-apple:active,.btn-apple:hover{color:#fff;background-color:#555;border-color:#000;}
.btn-apple:before,.btn-google:before{background-size:cover;background-repeat:no-repeat;width:30px;height:30px;margin-top:-15px;position:absolute}
.btn-google:before{content:"";background-image:url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);left:6px;top:50%}
.btn-google:after{content:"GET IT ON";position:absolute;top:5px;left:40px;font-size:10px;font-weight:400}
.btn-apple:before{content:"";background-image:url(https://2.bp.blogspot.com/-pfguXOXm3fg/WfbA_JMxnOI/AAAAAAAAtoA/wkc55zw6kZ4cG-S-9K2HVie6RxXRhuvdACLcBGAs/s30/apple.png);left:10px;top:50%}
.btn-apple:after{content:"Download on the";position:absolute;top:5px;left:50px;font-size:11px;font-weight:400}
kbd{color:#333;display:inline-block;-moz-border-radius:3px;-moz-box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;-webkit-border-radius:3px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;background-color:#f7f7f7;border:1px solid #ccc;border-radius:3px;box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:1.4;margin:0 .1em;padding:.1em .6em;text-shadow:0 1px 0 #fff;vertical-align:3px}
.img-width-200.img-left .btn-google{margin-top:16px}

/* Label and Search Pages Status */
.status-msg-wrap{font-size:14px;font-family: Roboto,sans-serif;font-weight:400;width:100%;height:auto;color:#555;margin:0;position:relative;padding:0;}
.status-msg-border{border:1px solid #000;opacity:0;width:100%;position:relative;height:10px}
.status-msg-bg{background-color:#ccc;opacity:.8;width:100%;position:relative;z-index:1}
.status-msg-body{text-align:center;margin:0;padding:6px 10px 10px;width:100%;word-wrap:break-word;z-index:4;border-radius:3px;line-height:1.3;background:#7975ff;background:-moz-linear-gradient(left,#7975ff 0,#55d4db 44%,#45f7d3 100%);background:-webkit-linear-gradient(left,#7975ff 0,#55d4db 44%,#45f7d3 100%);background:linear-gradient(to right,#7975ff 0,#55d4db 44%,#45f7d3 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7975ff', endColorstr='#45f7d3', GradientType=1 )}
.status-msg-hidden{visibility:hidden;padding:.3em 0}
.status-msg-wrap a{color:#fff;font-weight:500;text-decoration:none;background:#11589D;border-radius:2px;margin:0 6px 0 -6px;padding:3px 5px;width:130px;max-width:130px;display:inline-block;line-height:1.3}
.status-msg-body b{font-size:20px;color:#fff;display:block;margin-bottom:6px}
.status-msg-body:after{content:"";display:block;clear:both}
.status-msg-body a:last-child{margin-right:0}

/* Static Page */
.static_page #sidebar-wrapper,.static_page #comments,.static_page .disqus,.static_page .leaderboard{display:none}
.static_page .post h2{text-align:center;margin:0;padding:10px 0;border-bottom:1px solid #ddd}
.static_page .post h2 a{font-size:24px;font-weight:700;color:#333;}
.static_page .outer-wrapper{margin:0;padding:0;}
.static_page #main-wrapper{width:100%;padding:0}
.static_page .post-body{margin:20px 0;padding:0;}
.static_page a.home-link{visibility:hidden}
.static_page .fb-comments{display:none;visibility:hidden}

/* Contact Page */
.contact-box{margin-top:10px}
.contact-box svg{width:24px;height:24px;vertical-align:-6px;margin-right:5px}
.contact-box svg path{fill:#444}
.contact-box .bbm svg{width:20px;height:20px;vertical-align:-5px;margin-right:5px}
.contact-box .bbm{margin-top:6px}
.post-body .contact-me a{color:#444;font-weight:300}
.post-body .contact-me a[href^="http://"]:after,.post-body .contact-me a[href^="https://"]:after,.post-body .contact-me a[href^="mailto:"]:after{content:"";background:url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 24 24' width='16' height='16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='fill:%23444' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e") no-repeat;background-size:16px 16px;width:16px;height:16px;display:inline-block;margin-left:3px;vertical-align:-2px}
.contact-me{display:block}
.contact-me span{-webkit-user-select:all;-moz-user-select:all;-ms-user-select:all;user-select:all}
.contact-me amp-accordion h5 span{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.contact-box .map,.contact-box .bbm{position:relative;padding-left:29px}
.contact-box .bbm .barcode-bbm{margin:10px 0;width:300px}
.contact-box .bbm span span{font-weight:300}
.contact-box .map svg{position:absolute;top:0;left:0}
.contact-box .bbm svg{position:absolute;top:4px;left:0}
.contact-box amp-accordion section:not([expanded]) .show-less,.contact-box amp-accordion section[expanded] .show-more{display:none}
.contact-box amp-accordion h5{background:none;border:none;color:#444;font-weight:500;font-size:14px;margin:0;padding:0;text-align:left;}

/* Post Image Style */
.img-center{text-align:center;margin:0 auto;}
.img-left{clear:left;float:left;margin-bottom:1em;margin-right:1em;text-align:center;}
.img-right{clear:right;float:right;margin-bottom:1em;margin-left:1em;text-align:center;}
.img-width-100,.img-width-200,.img-width-300,.img-width-400,.img-width-500,.img-width-600{width:100%;text-align:center;clear:both}
.img-width-100{max-width:100px;}
.img-width-200{max-width:200px;}
.img-width-300{max-width:300px;}
.img-width-400{max-width:400px;}
.img-width-500{max-width:500px;}
.img-width-600{max-width:600px;}

/* CSS Untuk Iklan */
.leaderboard{width:100%;height:auto;text-align:center;margin:0 0 10px;padding:0}
.leaderboard img{width:100%;height:auto;}
.post-body .inline_wrapper{width:100%;height:auto;text-align:center;margin:0 0 10px;padding:0}
.post-body .inline_wrapper span{color:#999;font-size:10px;margin:0 auto 5px;display:block}
.iklan-bawahpost,.iklan-ataspost{width:100%;height:auto;text-align:center;padding:0;margin:20px auto;}
.iklan-bawahpost amp-fx-flying-carpet{width:100%;width:calc(100% + 20px);height:auto;margin:0 -10px;}

/* Comments */
.fb-comments{margin:0 -8px;padding:0;font-family:Roboto,sans-serif;}
.disqus{margin:0 -8px;padding:0 0 20px;font-family:Roboto,sans-serif;}

/* Disclaimer Box */
.disclaimer_box{width:100%;padding:2px;background:linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);border-radius:6px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.disclaimer_box .content{background:#fff;padding:8px 12px;font-size:95%;border-radius:4px;box-shadow:0 0 0 3px rgba(255,255,255,.3)}
.disclaimer_box .content p{margin:0;padding:0}

/* Follow Button & Comment Button */
.follow-button,.buka-komen,.tutup-komen{font-family:Roboto,sans-serif;background-color:#11589D;color:#fff;font-size:16px;line-height:1.3em;padding:5px 7px;display:block;min-width:54px;text-align:center;font-weight:500;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-transition:all 218ms;-moz-transition:all 218ms;-o-transition:all 218ms;transition:all 218ms;-webkit-user-select:none;-moz-user-select:none;}
.follow-button{margin:10px 0 0;}
.buka-komen{margin:20px 0;cursor:pointer;}
.tutup-komen{margin:20px 0 0;cursor:pointer;}

/* Scroll To Top */
.scrollToTop{color:#fafafa;font-size:1.4em;box-shadow:0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);width:50px;height:50px;border-radius:100px;border:none;outline:0;background:#11589D;z-index:997;bottom:10px;right:10px;position:fixed;opacity:0;visibility:hidden;cursor:pointer}
#marker,#marker2{position:absolute;top:100px;width:0;height:0}
.scrollToTop svg{width:34px;height:34px;vertical-align:middle;} 
#totop:before{content:"";display:block;height:20px;margin-top:-20px;visibility:hidden}

.skip-navigation{background-color:#fff;color:#000;display:block;height:0;left:0;line-height:50px;overflow:hidden;padding-top:0;position:fixed;text-align:center;top:0;width:100%;z-index:900}
.mb20{margin-bottom:20px}

amp-lightbox#open-lightbox,amp-lightbox#open-lightbox2,amp-lightbox#open-lightbox3,amp-lightbox#open-lightbox4,amp-lightbox#open-lightbox5,amp-lightbox#open-lightbox6,amp-lightbox#open-lightbox7,amp-lightbox#open-lightbox8,amp-lightbox#open-lightbox9,amp-lightbox#open-lightbox10{z-index:998}
.lightbox-video{background:rgba(0,0,0,.9);width:100%;height:100%;position:fixed;top:0;left:0;z-index:998}
.lightbox-toggle{background:rgba(255,255,255,.8);color:#333;font-size:80%;padding:0 5px;height:25px;line-height:25px;position:absolute;bottom:0;left:0;z-index:999;cursor:pointer;border-radius:0 4px 0 0;}
.lightbox-toggle svg{vertical-align:-3px;}

.lightbox-video2{background:rgba(0,0,0,.9);width:100%;height:100%;position:absolute;display:flex;align-items:center;justify-content:center}
.video-box{width:100%;margin:0 auto;text-align:center;max-width:1000px}
.video-img{margin:0 0 0 -10px;position:relative}
.playonimage{cursor:pointer;margin:auto;width:56px;height:56px;-webkit-border-radius:50%;border-radius:50%;background-color:rgba(0,0,0,.2);background-image:url(https://4.bp.blogspot.com/-aCqXY9Vnj9g/Wq56xpEfJJI/AAAAAAAAwjA/PqM1-3XTgnoF7Bif_Ma2NybxuCupptkYACLcBGAs/s1600/play_circle_filled_white_48dp.png);background-position:center;-webkit-background-size:48px 48px;background-size:48px 48px;position:absolute;top:0;bottom:0;left:0;right:0;z-index:1;transition:all 400ms ease-in-out;}
.video-img:hover .playonimage{background-color:rgba(255,255,255,.8);background-image:url(https://1.bp.blogspot.com/-fuK6wf2647w/WyEFoHT6BdI/AAAAAAAAyII/kBfZKCvZ2TUrqoXuFT3tDPt5QC3OXJt3QCLcBGAs/s1600/play_circle_filled_white_48dp2.png);}

.mobile-up,amp-youtube#test-off img,amp-instagram#test-off2 amp-img{display:none;visibility:hidden}

ol.audio amp-audio{margin-bottom:20px}
.play-audio{background:0 0;border:0;cursor:pointer}
.play-audio svg{vertical-align:middle}

.spoiler input[type=checkbox]:checked~label:before,.spoiler input[type=checkbox]~label:before{content:"";height:0;width:0;border-style:solid;left:8px;position:absolute}
.spoiler .spoiler_title{display:inline;float:left;margin:3px 10px 0 0;padding:4px 0;font-size:16px;line-height:1}
.spoiler label{cursor:pointer;background:#26272a;margin:0;padding:4px 18px 4px 22px;outline:0;border-radius:3px;color:#efefef;transition:all .3s ease-in-out;display:inline;font-size:12px;font-family:arial,san-serif;line-height:1;position:relative}
.spoiler input[type=checkbox]~label:before{border-width:4px 4px 4px 7px;border-color:transparent transparent transparent #fff;top:7px}
.spoiler input[type=checkbox]:checked~label:before{border-width:7px 4px 4px;border-color:#fff transparent transparent;top:8px}
.spoiler input{position:absolute;left:-999em;opacity:0}
.spoiler .content_box{width:100%;border:1px solid #ddd;background:#efefef;height:auto;padding:6px 10px;margin:8px 0 0;overflow:hidden;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.spoiler .content_box .content{display:none}
.spoiler .content p{padding:0;margin:0}
.spoiler .content p img{margin:4px 0 0;max-width:100%;height:auto}
.spoiler input[type=checkbox]:checked~.content_box .content{display:block;-webkit-animation:slide-down .3s ease-out;-moz-animation:slide-down .3s ease-out}
@-webkit-keyframes slide-down{0%{opacity:0;-webkit-transform:translateY(-100%)}
100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes slide-down{0%{opacity:0;-moz-transform:translateY(-100%)}
100%{opacity:1;-moz-transform:translateY(0)}
}

/* Chatbox */
.chat-box-fixed{background:#fff;position:fixed;top:0;right:0;bottom:0;height:100%;height:100vh;width:300px;padding:0;z-index:999;-webkit-animation-name:slideInRight;animation-name:slideInRight;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;overflow:visible}
.close-chat:active,.close-chat:focus,.open-chat:active,.open-chat:focus{outline:0}
.close-chat{position:absolute;top:0;left:-25px;width:25px;height:25px;line-height:20px;text-align:center;font-size:40px;font-weight:300;color:#fff;cursor:pointer;z-index:2}
.chat-box-fixed amp-iframe{height:100%;height:100vh;width:300px;position:absolute;top:0;left:0;bottom:0}
.lightbox-chat{background:rgba(0,0,0,.3);width:100%;height:100%;position:absolute}
@-webkit-keyframes slideInRight{0%{-webkit-transform:translateX(100%);transform:translateX(100%);visibility:visible}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes slideInRight{0%{-webkit-transform:translateX(100%);transform:translateX(100%);visibility:visible}100%{-webkit-transform:translateX(0);transform:translateX(0)}}
.open-chat{width:48px;height:48px;line-height:48px;border:none;position:absolute;top:0;right:48px;cursor:pointer;text-align:center;-webkit-animation:flash 1s linear 1s infinite normal;animation:flash 1s linear 1s infinite normal;}
.open-chat svg{vertical-align:middle;cursor:pointer}
.open-chat:hover svg path{fill:#2B0C93;transition:all .4s ease-in-out}
.open-chat2{box-shadow:0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);width:50px;height:50px;border-radius:100px;border:none;outline:0;background:#11589D;z-index:997;bottom:70px;right:10px;position:fixed;opacity:0;visibility:hidden;cursor:pointer;text-align:center;line-height:50px}
.open-chat2 svg{vertical-align:middle;width:24px;height:24px;-webkit-animation:flash 1s linear 1s infinite normal;animation:flash 1s linear 1s infinite normal;}
.open-chat2 svg path{fill:#fff}
@-webkit-keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}@keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}

/* Responsive */
@media screen and (max-width:970px){#close_topbanner{right:10px}}
@media screen and (max-width:640px){.content-wrapper{height:100%;overflow:hidden}
#main-wrapper,aside,#sidebar-wrapper{width:100%;float:none;margin:0 auto}
.img-width-500.img-left,.img-width-500.img-right,.img-width-600.img-left,.img-width-600.img-right{clear:both;float:none;margin:1em auto;text-align:center;}
.post-body amp-iframe[src*='youtube.com'],.post-body amp-iframe[src*='video.flexmmp.com'],.post-body amp-youtube,.post-body blockquote,.post-body amp-dailymotion,.post-body amp-iframe[src*='fave.api.cnn.io'],.post-body amp-facebook,.video-img,.post-body amp-iframe#video,.post-body amp-video#video{margin:0 -10px}
.post-body pre{max-width:calc(100% + 20px);margin:0 -10px;}
.post-body .table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar}
.post-body .table-responsive>.table{margin-bottom:0}
.post-body .table-responsive>.table>tbody>tr>td,.post-body .table-responsive>.table>tbody>tr>th,.post-body .table-responsive>.table>tfoot>tr>td,.post-body .table-responsive>.table>tfoot>tr>th,.post-body .table-responsive>.table>thead>tr>td,.post-body .table-responsive>.table>thead>tr>th{white-space:nowrap}
.scrollToTop{bottom:90px}
.open-chat2{display:none}
#PopularPosts1,.desktop-up,amp-sidebar ul,amp-sidebar ul li amp-accordion{display:none;visibility:hidden}
.mobile-up,amp-sidebar[side][open] ul,amp-sidebar[side][open] ul li amp-accordion{display:block;visibility:visible}
.share-box.atas{height:98px;}
}
@media screen and (max-width:533px){.related-wrapper,.related-right-wrapper{width:100%;float:none;}
.related-wrapper{margin-right:0;}
.related-right-wrapper{margin-top:10px;}
}
@media screen and (max-width:414px){
#header-wrapper{width:100%;margin:0;text-align:left;padding:5px 10px;height:52px;line-height:52px;position:fixed;top:0;left:0;background:#7975ff;background:-moz-linear-gradient(left,#7975ff 0,#55d4db 44%,#45f7d3 100%);background:-webkit-linear-gradient(left,#7975ff 0,#55d4db 44%,#45f7d3 100%);background:linear-gradient(to right,#7975ff 0,#55d4db 44%,#45f7d3 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7975ff', endColorstr='#45f7d3', GradientType=1 );-webkit-box-shadow:0 1px 8px rgba(0,0,0,.3);box-shadow:0 1px 8px rgba(0,0,0,.3);z-index:998}
#header-wrapper amp-img,#header{vertical-align:middle}
#header{margin:0;width:150px;}
.btn-sidebaramp{top:3px;right:15px;background-size:45px 45px;}
.head-wrapper{margin-top:52px;padding-top:15px;/*background:0 0*/}
/*.head-wrapper:after{display:none;}*/
.credit-left,.credit-right{float:none;text-align:center;width:100%}
.home_page .post .posts-thumb{width:110px;height:110px;}
.img-width-100.img-left,.img-width-100.img-right,.img-width-200.img-left,.img-width-200.img-right,.img-width-300.img-left,.img-width-300.img-right,.img-width-400.img-left,.img-width-400.img-right{clear:both;float:none;margin:1em auto;text-align:center;}
.open-chat{top:3px;right:75px}
}
@media screen and (max-width:375px){
.home_page .post .posts-thumb{width:100px;height:100px;}
}
@media screen and (max-width:360px){.home_page .post .posts-thumb{width:96px;height:96px;}
.PageList ul li a{font-size: 12px;}
}
@media screen and (max-width:320px){
.PageList ul li{padding:5px;}
.home_page .post .posts-thumb{width:84px;height:84px;}
.chat-box-fixed,.chat-box-fixed amp-iframe{width:280px;}
}

@media print{header,#blog-pager,#comments,#footer-wrapper,#header-wrapper,#related-post,#sidebar-wrapper,.blog-pager,.breadcrumbs,.postmeta,h3.date-header,.PageList,.search_box,.BlogSearch,.main_menu,.leaderboard,.share-box{display:none}
body{background:#fff}
#main-wrapper{width:100%;border:none}
.outer-wrapper{border:none}
.content-wrapper{max-width:100%;height:100%;overflow:hidden;border:none}
.post-body{margin:0;padding:0}
.credit-wrapper{background:#fff;color:#666;margin:0;padding:0}
.credit-wrapper a:link, .credit-wrapper a:visited{background:#fff;color:#666;margin:0;padding:0}
}
.googlezet{margin:15px auto;text-align:center}
&lt;/style&gt;
